## via conda
python=3.11
numpy
scipy
astropy
matplotlib
healpy
pandas
ligo.skymap
synphot
specutils
photutils
argparse
tqdm

## via pip/git

# dorado-scheduling (pip install dorado-scheduling)
# uvex-mission (git clone https://github.com/uvex-mission/uvex-mission.git; cd uvex-mission; pip install -e .)
#               This is a private repo, you will need to request access and make a Github Personal Access Token)